html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS RESET END*/

*{
    box-sizing: border-box;
}
body{
    background-color: #eef9bf;
}
header{
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 66px;
letter-spacing: -0.004em;
color: #75B79E;
}
img{
    width: 100px;
}
.cards{
    width: 906px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card:hover{
    cursor: pointer;
}
.card {
    width: 117px;
    height: 146px;
    margin-block: 17px;
    margin-inline: 17px;
    position: relative;
  }
  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }
  .back{
    transform: rotateY(180deg);
  }

  .back-flip{
    transform: rotateY(0deg);
  }

  .front-flip{
    transform: rotateY(-180deg);
  }
